# Config file for RMC photon production 
#                                                             
# This file runs the Production Target simulation in SimG4    

[software]
cmtpath = environment
cmtroot = environment
#packages_version=v1r0p2                                                                      
#externals_version=v2r2                                                                       

[configuration]
module_list = SimG4
output_directory=%(OUTPUT_DIR)

[filenaming]
run_number = %(SH_RUN_NUMBER)
subrun = %(SH_SUBRUN)
comment = extrmc

[SimG4]
random_seed = %(SH_RANDOM_SEED)
num_events = %(SH_NUM_EVENTS)
primary_mode = ParticleGun
primary_particle = gamma
primary_count = Fixed 1
primary_energy = ExtRMC 101.85 90.30 
primary_direction = Isotropic

custom_PreBeam=
   /generator/addFakeGeantino false
   /generator/position/set rooTrackHist
   /control/getEnv INPUT_FILE
   /generator/position/rooTrackHist/input {INPUT_FILE}
   /generator/position/rooTrackHist/volume /comet/DetectorSolenoid/CylindricalDetector/MuonStoppingTarget/TargetDisk
   /generator/time/set exponential
   /generator/time/exponential/lifetime 864 ns

#fieldmap=%(ICEDUST_FIELDMAPS)                             

# Persistency controls                                                  
traj_saveall=true

[geometry]
world=Phase-I-CyDet

[fieldmap]
source=%(ICEDUST_FIELDMAPS)
